# App
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://varogo:varogo_password@localhost:5432/varogo_db?schema=public"

# JWT (v0.7)
# JWT_SECRET=
# JWT_EXPIRES_IN=7d

# Gemini (v0.3)
GEMINI_API_KEY=

# Stripe (v0.9)
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
